<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="myconnection"
         connectionString="Data Source=127.0.0.1;
                          port=3306;
                          Integrated Security =False;
                          Initial Catalog=myblog;
                         User Id=root;  Password=;"
         providerName="Mysql.Data.MysqlClient"/>
  </connectionStrings>
  

</configuration>
